

header{
    background-color: gray;
    height: 100px;
    width: 1160px;
    margin-left: 200px;
    margin-bottom: 35px;

}

header img{
padding-top: 15px;
padding-left: 100px;

}

nav{ 
    padding-left: 300px;
}

nav ul{
    position: relative;
    margin-top: -8%;
}

nav ul li{
    list-style-type: none ;
    display: inline-block;
    padding-right: 10%;

}
li:hover{
    background-color: rgb(248, 236, 64);
}
#hero{

    margin-left: 300px;
    margin-bottom: 35px;
}
#mg1{
    

    margin-left: 300px;
}
#mg2{
    padding-left: 28px;

}
#mg3{
    padding-left: 28px;

}
#picleft{
margin-top: 35px;
padding-left: 300px;

}
#txtright{
    height: 350px;
    width: 400px;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
    overflow: auto;
    padding-left: 800px;
    padding-right: 200px;
    margin-bottom: 15px;
margin-top: -420px;

}
button{
background-color: gray;
height: 50px;
width: 220px;
margin-left: 800px;
padding-bottom: 10px;

}

button:hover{
    background-color: greenyellow;
}
footer{
background-color: grey;
height: 150px;
width: 1160px;
margin-left: 200px;
margin-top: 35px;

}
